<div class="col-xl-4 col-md-6 col-sm-8 col-10" style="margin: auto; background-color: #f8f8f8; border-radius: 10px; padding: 15px">
  <%= form_with(model: post) do |form| %>
    <h1>New post</h1>

    <div>
      <% invalid = post.errors.include?(:title)%>
      <div>
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <% if invalid %>
        <p style="color: red">
          <%= post.errors.full_messages_for(:title).join(". ")%>
        </p>
      <%end%>
    </div>

    <div>
        <%= form.text_field :user_id, type: "hidden", value: current_user.id %>
    </div>

    <div>
      <% invalid = post.errors.include?(:description)%>
      <div>
        <%= form.label :description, style: "display: block" %>
        <%= form.text_field :description, class: "form-control"%>
      </div>
      <% if invalid %>
        <p style="color: red">
          <%= post.errors.full_messages_for(:description).join(". ")%>
        </p>
      <%end%>
    </div>

    <div>
      <% invalid = post.errors.include?(:keyword)%>
      <div>
        <%= form.label :keyword, style: "display: block" %>
        <%= form.text_field :keyword, class: "form-control" %>
      </div>
      <% if invalid %>
        <p style="color: red">
          <%= post.errors.full_messages_for(:keyword).join(". ")%>
        </p>
      <%end%>
    </div>

    <br>
    <%= form.file_field :images, multiple:true%>

  <div>
      <br>
      <%= form.submit class:"btn btn-primary col-12 " %>
    </div>
  <% end %>
</div>
